/* @import "./header.css"; */
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


.logo {
  width: 110px;
  height: 24px;
  background: url(/images/thescore-logo.svg) 0 2px no-repeat;
  display: block;
  background-size: auto 190%;
}